* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.titleLogoContainer {
  display: flex;
  align-items: center;
}

.titleLogo {
  height: 65px;
  margin-right: 10px;
}

.titleName {
  font-family: Bree Serif;
  color: #ffffff;
  font-size: 45px;
}

@media not screen and (min-width: 768px) {
  .bgContainer {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    height: 100vh;
    background-size: cover;
  }

  .titleLogo {
    height: 30px;
  }

  .titleName {
    font-size: 30px;
  }
}
